.masthead {
  background-color: #581845;
  color: white;
  padding: 2%;
  margin-bottom: 10px;
}

.masthead a {
  color: white !important;
  font-weight: 900;
  font-size: 23px;
}


.contentWrapper {
  width: 100%;
  margin: 0 auto;
  
}

.sideContent {
  width: 10%;
  border: 1px solid green;
  margin-right: 2%;
  float: left;
}

/*.mainContent {
  border: 1px solid green;
}*/

.searchInput {
  width: 100%;
  padding: 2% 1%;
  font-size: 25px;
}

.sideContent li {
  list-style: none;
  font-weight: 700;
  padding: 10px 0px;
  text-align: left;
}

.sideContent li a {
  text-decoration: none;
  padding: 10px 0px;
}

.list {
  list-style: none;
}

.releaseItem {
  list-style: none;
  display: inline-block;
  margin-right: 5%;
  float: left;
}

.releaseItem img{
  list-style: none;
  height: 150px;
  width: 150px;
  display: inline-block;
  margin-right: 5%;
}

.releaseItem figcaption {
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

/*.releaseItem figcaption:hover {
  overflow: visible;
  white-space: normal;
}*/


.artistList .searchResultList{
  display: inline-block;
  float: left;
  list-style: none;
  width: 20%;
}

.trackList {
  text-align: left;
  float: left;
  width: 100%;
  border: 1px solid #000;
}

.trackList li{
  
  float: left;
  width: 50%;
  list-style: none;
  font-weight:700;
  padding: 10px 0;
}

.trackList .artistName{
  display: block;
}

.artistList img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.artistDetail li{
  list-style: none; 
  text-align: center;
}

.card {
  display: inline-block !important;
  margin-right: 2%;
  margin-bottom: 2%;
}

.card img{
  width: 150px;
  height: 150px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
